.submit-bg {
    width: 100%;
    position: fixed;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.36);
    height: 100%;
    top: 0;
    z-index: 9998;
    overflow-y: auto;
    display: none;
}

.copying {
    background-color: #ffffff;
    position: relative;
    z-index: 9998;
    border: 1px solid #ddd;
    width: 245px;
    margin: 25% auto 0;
    padding: 20px;
}

.copying p {
    float: left;
    font-size: 20px;
    margin: 4px 0 0 10px;
}

.copying .waiting-dot {
    margin: 15px 0 0 10px;
}